## Q2. 

Under the life-cycle savings hypothesis as developed by Franco Modigliani, the savings ratio (aggregate personal savings divided by disposable income) is explained by per-capita disposable income, the percentage rate of change in per-capita disposable income, and two demographic variables: the percentage of population less than 15 years old and the percentage of the population over 75 years old. The data are averaged over the decade 1960â€“1970 to remove the business cycle or other short-term fluctuations.

The following data were obtained from Belsley, Kuh and Welsch (1980). They in turn obtained the data from Sterling (1977). You can download it from here.

The data set contains 50 observations with five variables.
- I.    Sr: numeric, aggregate personal savings
- II.    pop15: numeric, % of population under 15
- III.    pop75: numeric, % of population over 75
- IV.    dpi: numeric, real per-capita disposable income
- V.    ddpi: numeric, % growth rate of dpi

Use EM for clustering 'similar' countries. Report how many groups you got and why you chose that number with the help of AIC and BIC. [8 points]

### import libraries

In [1]:
import os, glob

import numpy as np
import pandas as pd

from sklearn.mixture import GaussianMixture
from sklearn.cluster import KMeans

### read data

In [2]:
df = pd.read_csv("lifecyclesaving.csv")
df.head()

      Contry     sr  pop15  pop75      dpi  ddpi
0  Australia  11.43  29.35   2.87  2329.68  2.87
1    Austria  12.07  23.32   4.41  1507.99  3.93
2    Belgium  13.17  23.80   4.43  2108.47  3.82
3    Bolivia   5.75  41.89   1.67   189.13  0.22
4     Brazil  12.88  42.19   0.83   728.47  4.56

In [3]:
df.shape

(50, 6)

In [4]:
df.describe()

              sr      pop15      pop75          dpi       ddpi
count  50.000000  50.000000  50.000000    50.000000  50.000000
mean    9.671000  35.089600   2.293000  1106.758400   3.757600
std     4.480407   9.151727   1.290771   990.868889   2.869871
min     0.600000  21.440000   0.560000    88.940000   0.220000
25%     6.970000  26.215000   1.125000   288.207500   2.002500
50%    10.510000  32.575000   2.175000   695.665000   3.000000
75%    12.617500  44.065000   3.325000  1795.622500   4.477500
max    21.100000  47.640000   4.700000  4001.890000  16.710000

### apply Expectation Maximization Algorithm (EM)

In [5]:
for n in range(2,6):
    for i in range(3):
        model = GaussianMixture(n_components=n, init_params='random', max_iter=50)
        model.fit(df.iloc[:, 1:6])
        
        yhat = model.predict(df.iloc[:, 1:6])
        print(i,"epoch:", n, "clusters")
        print(yhat)
        print("AIC", model.aic(df.iloc[:, 1:6]))
        print("BIC", model.bic(df.iloc[:, 1:6]), "\n")
    print("***********************************************************************\n")

0 epoch: 2 clusters
[1 1 1 0 0 1 0 0 0 0 1 0 1 1 1 0 0 0 1 0 1 1 1 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 1 1 1 0 0 1 1 0 0 0 1 0 0]
AIC 1712.6112871552293
BIC 1791.0042303777832

1 epoch: 2 clusters
[0 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0 1 0
 0 0 0 1 1 1 0 1 1 0 0 0 1]
AIC 1739.1056426524415
BIC 1817.4985858749956

2 epoch: 2 clusters
[0 0 0 1 1 0 1 1 1 1 0 1 0 0 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 1 1 1 1 1 1 0 0
 1 0 0 1 1 0 0 1 1 1 0 1 1]
AIC 1717.9068402259127
BIC 1796.2997834484668

***********************************************************************

0 epoch: 3 clusters
[1 0 0 2 0 1 2 0 2 0 0 2 0 0 1 2 2 2 1 1 0 0 0 2 1 2 1 0 0 2 2 2 0 0 2 1 1
 2 1 1 2 2 0 1 0 0 2 1 2 2]
AIC 1717.3785906625517
BIC 1835.9240169990967

1 epoch: 3 clusters
[2 0 0 2 0 2 1 0 1 0 2 1 0 0 2 1 1 1 2 1 0 2 0 1 2 1 2 0 0 1 1 1 2 0 1 1 1
 1 2 2 1 1 0 2 2 0 1 1 1 1]
AIC 1724.5647847581279
BIC 1843.1102110946729

2 epoch: 3 clusters
[1 1 1 0 0 1 0 0 0 0 1 0 1 1 1 2 0 0 1 0 1 1 1 0 1 2 1 2 1 0 0 0 0 0 2 2 2
 2 1 1 0 0 1 1 0 0 2 2 2 0]
AIC 1674.9555330317633
BIC 1793.5009593683083

***********************************************************************

0 epoch: 4 clusters
[2 2 2 3 3 2 3 3 1 3 2 1 0 2 2 0 1 3 2 0 3 2 0 1 2 0 2 0 3 3 3 1 3 3 0 0 0
 0 2 2 1 1 2 2 3 3 1 0 1 1]
AIC 1691.0072842066372
BIC 1849.7051936571734

1 epoch: 4 clusters
[0 0 0 1 1 0 2 3 3 2 0 3 0 2 0 1 3 3 0 1 2 0 1 3 0 1 0 1 2 3 2 2 3 3 1 1 1
 1 0 0 3 3 2 0 1 3 3 1 3 3]
AIC 1707.1918882604675
BIC 1865.8897977110037

2 epoch: 4 clusters
[2 3 0 1 0 2 1 0 1 0 0 1 2 3 2 1 1 1 2 1 3 2 2 1 2 1 2 0 0 1 1 1 0 0 1 1 2
 1 2 2 1 1 2 2 0 0 3 1 3 1]
AIC 1679.2964622240977
BIC 1837.9943716746338

***********************************************************************

0 epoch: 5 clusters
[3 2 2 3 4 3 4 4 4 0 0 4 2 2 2 1 4 4 3 0 2 3 4 4 2 1 0 2 0 4 4 0 4 4 1 1 1
 1 3 2 4 4 2 3 3 4 1 1 1 4]
AIC 1685.7574085041138
BIC 1884.607801068641

1 epoch: 5 clusters
[0 3 3 3 4 0 4 4 4 4 3 4 1 3 1 2 4 4 1 0 3 1 1 4 1 2 1 1 3 4 4 0 4 4 2 0 1
 2 1 0 4 4 3 0 3 4 2 0 2 4]
AIC 1651.8932980908671
BIC 1850.7436906553944

2 epoch: 5 clusters
[0 1 1 4 4 0 2 4 4 3 1 4 2 1 1 3 4 4 1 3 1 3 4 2 2 2 1 2 1 4 4 3 3 4 0 3 0
 3 1 1 4 4 1 0 3 4 0 3 0 4]
AIC 1680.8388580286803
BIC 1879.6892505932074

***********************************************************************