In [14]:
import os, glob
current_location = os.getcwd()
os.chdir(current_location)
import pandas as pd
import numpy as np
from sklearn import linear_model

**Problem-1**

For this problem, you are going to use the Airline Costs dataset (Links to an external site.). And if you like, the cleaned up (better formatted in CSV) data is available from herePreview the document. The dataset has following attributes.

- Airline
- Length of flight (miles)
- Speed of Plane (miles per hour)
- Daily Flight Time per plane (hours)
- Population served (1000s)
- Total Operating Cost (cents per revenue ton-mile)
- Revenue Tons per Aircraft mile
- Ton-Mile load factor (proportion)
- Available Capacity (Tons per mile)
- Total Assets ($100,000s)\
- Investments and Special Funds ($100,000s)
- Adjusted Assets ($100,000s)

In [24]:
data1 = pd.read_csv("airline_costs.csv", header = None)
cols = ["Airline", "Length", "Speed", "FlightTime", "Population", 
        "Cost","Revenue","Load", "Capacity", "TotalAssets", 
        "Fund","AdjustedAssets"]
data1.columns = cols
data1.head()

,Airline,Length,Speed,FlightTime,Population,Cost,Revenue,Load,Capacity,TotalAssets,Fund,AdjustedAssets
0,All American,57,133,6.10,20200,116.3,0.96,0.400,2.400,21.13,3.21,17.92
1,American,270,216,6.93,56928,43.0,3.98,0.689,5.776,1436.53,165.22,1271.31
2,Bonanza,100,140,4.45,183,141.5,0.79,0.358,2.207,6.65,0.01,6.64
3,Braniff,176,182,6.60,11869,50.6,2.57,0.557,4.614,160.30,5.81,154.49
4,Capital,142,167,7.47,41097,51.0,2.68,0.510,5.255,195.02,6.06,188.96

Use a linear regression model to predict the number of customers each airline serves from its length of the flight and daily flight time per plane. Report your model (linear equation). What is your predicted value for number of customers served for a flight that is 200 miles in length and has daily flight time per plane 7.2 hours? [3 points]

In [32]:
# Create linear regression object
regr = linear_model.LinearRegression()

x_train = data1[["Length", "FlightTime"]]
y_train = data1[["Population"]]
# Train the model using the training sets
regr.fit(x_train, y_train)

regr.predict([[200,7.2]])

array([[27331.03461682]])

Next, build another regression model to predict the total assets of an airline from the customer served by the airline. Once again, report your model. What is your prediction for total assets for an airline, given they serve 20,300,000 customers? [3 points]

In [29]:
# Create linear regression object
regr = linear_model.LinearRegression()

x_train = data1[["Population"]]
y_train = data1[["TotalAssets"]]
# Train the model using the training sets
regr.fit(x_train, y_train)

regr.predict([[20300]])

array([[341.08205955]])

**Problem-2** 
For this problem, we are going to use the All Greens Franchise data set (Links to an external site.). It contain 27 observations about All Greens sales that has five predictor variables apart from the annual net sales figure. Use this dataset and perform the following sets of analyses.

- X1 = annual net sales/$1000
- X2 = number sq. ft./1000
- X3 = inventory/$1000
- X4 = amount spent on advertizing/$1000
- X5 = size of sales district/1000 families
- X6 = number of competing stores in district

In [34]:
data2 = pd.read_excel("mlr05.xls")
cols = ["NetSales", "NumberSq", "Inventory", "SpentAdvertising", 
        "SizeDistrict", "NumberCompetitors"]
data2.columns = cols
data2.head(3)

   NetSales  NumberSq  Inventory  SpentAdvertising  SizeDistrict  NumberStores
0     231.0       3.0        294               8.2           8.2            11
1     156.0       2.2        232               6.9           4.1            12
2      10.0       0.5        149               3.0           4.3            15

Find the correlation of annual net sales with money spent on advertising and number of competitors in the area. Provide your one-sentence interpretation. [2 points]

In [35]:
data2.corr(method ='pearson')

,NetSales,NumberSq,Inventory,SpentAdvertising,SizeDistrict,NumberStores
NetSales,1.000000,0.894092,0.945504,0.914024,0.953683,-0.912236
NumberSq,0.894092,1.000000,0.843616,0.748587,0.838023,-0.765738
Inventory,0.945504,0.843616,1.000000,0.906231,0.863917,-0.807380
SpentAdvertising,0.914024,0.748587,0.906231,1.000000,0.795434,-0.841280
SizeDistrict,0.953683,0.838023,0.863917,0.795434,1.000000,-0.869590
NumberStores,-0.912236,-0.765738,-0.807380,-0.841280,-0.869590,1.000000

The annual net sales and money spent on advertising have a positive strong correlation `(0.9140241)`, while the annual net sales with number of competitors have a negative correlation `(-0.9122364)`.

Build a regression model to predict the annual net sales figure using the other five columns in the data set. Report your model. [2 points]

In [49]:
# Create linear regression object
regr = linear_model.LinearRegression()

x_train = data2.iloc[:, 1:]
y_train = data2.iloc[:, 0]
# Train the model using the training sets
regr.fit(x_train, y_train)
print(regr)

LinearRegression()

In [55]:
print("intercept:", regr.intercept_, "\ncoef:", regr.coef_)

intercept: -18.85941415699932
coef: [16.20157356  0.17463515 11.52626903 13.5803129  -5.31097141]