Q2. Under the life-cycle savings hypothesis as developed by Franco Modigliani, the savings ratio (aggregate personal savings divided by disposable income) is explained by per-capita disposable income, the percentage rate of change in per-capita disposable income, and two demographic variables: the percentage of population less than 15 years old and the percentage of the population over 75 years old. The data are averaged over the decade 1960â€“1970 to remove the business cycle or other short-term fluctuations.

The following data were obtained from Belsley, Kuh and Welsch (1980). They in turn obtained the data from Sterling (1977). You can download it from here.

The data set contains 50 observations with five variables.
- I.    Sr: numeric, aggregate personal savings
- II.    pop15: numeric, % of population under 15
- III.    pop75: numeric, % of population over 75
- IV.    dpi: numeric, real per-capita disposable income
- V.    ddpi: numeric, % growth rate of dpi

Use EM for clustering 'similar' countries. Report how many groups you got and why you chose that number with the help of AIC and BIC. [8 points]

In [5]:
import os, glob

import numpy as np
import pandas as pd

from sklearn.mixture import GaussianMixture
from sklearn.cluster import KMeans

In [4]:
df = pd.read_csv("lifecyclesaving.csv")
df.head()

      Contry     sr  pop15  pop75      dpi  ddpi
0  Australia  11.43  29.35   2.87  2329.68  2.87
1    Austria  12.07  23.32   4.41  1507.99  3.93
2    Belgium  13.17  23.80   4.43  2108.47  3.82
3    Bolivia   5.75  41.89   1.67   189.13  0.22
4     Brazil  12.88  42.19   0.83   728.47  4.56

In [35]:
df.shape

(50, 6)

In [7]:
df.describe()

              sr      pop15      pop75          dpi       ddpi
count  50.000000  50.000000  50.000000    50.000000  50.000000
mean    9.671000  35.089600   2.293000  1106.758400   3.757600
std     4.480407   9.151727   1.290771   990.868889   2.869871
min     0.600000  21.440000   0.560000    88.940000   0.220000
25%     6.970000  26.215000   1.125000   288.207500   2.002500
50%    10.510000  32.575000   2.175000   695.665000   3.000000
75%    12.617500  44.065000   3.325000  1795.622500   4.477500
max    21.100000  47.640000   4.700000  4001.890000  16.710000

In [21]:
model = GaussianMixture(n_components=3, init_params='random', max_iter=50)
model.fit(df.iloc[:, 1:6])

GaussianMixture(init_params='random', max_iter=50, n_components=3)

In [22]:
# Let's extract cluster labels
yhat = model.predict(df.iloc[:, 1:6])
print(yhat)

[0 0 0 2 2 0 2 2 2 2 0 2 1 0 0 1 2 2 0 2 0 0 1 2 0 1 0 1 0 2 2 2 2 2 1 1 1
 1 0 0 2 2 0 0 2 2 1 1 1 2]

In [23]:
print(model.aic(df.iloc[:, 1:6]))
print(model.bic(df.iloc[:, 1:6]))

1663.686002909732
1782.231429246277

In [36]:
for n in range(2,6):
    for i in range(3):
        model = GaussianMixture(n_components=n, init_params='random', max_iter=50)
        model.fit(df.iloc[:, 1:6])
        
        yhat = model.predict(df.iloc[:, 1:6])
        print(i,"epoch:", n, "clusters")
        print(yhat)
        print("AIC", model.aic(df.iloc[:, 1:6]))
        print("BIC", model.bic(df.iloc[:, 1:6]), "\n")
    print("***********************************************************************\n")

0 epoch: 2 clusters
[0 0 0 1 1 0 1 1 1 1 0 1 0 0 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 1 1 1 1 1 1 0 0
 1 0 0 1 1 0 0 1 1 1 0 1 1]
AIC 1717.9039904540246
BIC 1796.2969336765786

1 epoch: 2 clusters
[1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 0 1
 1 1 1 0 0 0 1 0 0 1 1 1 0]
AIC 1739.059306749151
BIC 1817.452249971705

2 epoch: 2 clusters
[1 1 1 0 0 1 0 0 0 0 1 0 1 1 1 0 0 0 1 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 1 0 0 0 1 0 0]
AIC 1717.9071649673397
BIC 1796.3001081898938

***********************************************************************

0 epoch: 3 clusters
[1 0 0 0 0 1 0 0 2 0 1 0 0 0 1 2 2 0 0 1 0 1 0 2 1 2 1 0 0 0 0 2 1 0 2 2 1
 2 1 1 2 0 0 1 1 0 2 2 2 2]
AIC 1725.8412375936273
BIC 1844.3866639301723

1 epoch: 3 clusters
[1 2 2 2 0 1 0 0 0 0 0 0 0 2 0 1 0 0 0 2 2 2 2 0 0 1 0 2 2 0 0 0 0 0 1 2 2
 2 0 0 0 0 2 1 0 0 1 2 1 0]
AIC 1710.737940507035
BIC 1829.28336684358

2 epoch: 3 clusters
[2 1 1 0 1 2 0 1 0 1 1 0 1 1 2 0 0 0 2 2 1 1 1 0 2 0 2 1 1 0 0 0 1 1 0 2 2
 0 2 2 0 0 1 2 1 1 0 2 0 0]
AIC 1717.3789526973965
BIC 1835.9243790339415

***********************************************************************

0 epoch: 4 clusters
[1 1 1 0 3 1 0 0 0 0 1 0 1 1 1 2 0 0 3 0 1 1 3 0 1 2 1 3 1 0 0 0 0 0 2 1 2
 2 1 1 0 0 1 1 3 3 2 1 2 0]
AIC 1659.8958545406067
BIC 1818.5937639911429

1 epoch: 4 clusters
[1 2 2 2 3 1 3 3 3 3 2 3 3 2 1 0 3 3 2 0 2 1 3 0 1 0 2 1 2 3 3 0 2 3 0 0 0
 0 2 1 3 3 2 1 2 3 0 0 0 3]
AIC 1695.0338865971307
BIC 1853.7317960476669

2 epoch: 4 clusters
[3 3 3 1 1 3 1 1 1 1 3 1 3 3 3 0 1 1 3 1 3 3 3 1 3 0 3 0 3 1 1 1 1 1 2 0 2
 2 3 3 1 1 3 3 0 1 2 0 2 1]
AIC 1602.106438020601
BIC 1760.8043474711371

***********************************************************************

0 epoch: 5 clusters
[1 3 3 3 4 1 4 4 4 0 3 4 0 3 1 2 4 4 1 3 3 3 4 0 1 2 3 0 0 4 4 3 4 4 2 3 2
 2 1 1 4 4 0 1 0 4 2 1 2 4]
AIC 1707.5148183192712
BIC 1906.3652108837982

1 epoch: 5 clusters
[1 2 2 3 3 1 3 3 3 3 2 3 2 0 2 2 3 3 4 3 0 1 4 3 2 2 1 2 0 3 3 3 3 3 2 4 4
 2 1 2 3 3 4 1 3 3 0 4 0 3]
AIC 1594.316544864616
BIC 1793.1669374291432

2 epoch: 5 clusters
[2 1 1 0 4 2 4 4 4 4 1 4 1 1 1 3 4 4 4 0 1 0 0 4 2 3 1 0 1 4 4 4 4 4 3 0 3
 3 2 1 4 4 1 2 4 4 3 2 3 4]
AIC 1646.6845925008079
BIC 1845.5349850653351

***********************************************************************